body {background-color: black!important;}

h1 {text-align: left;
	color: white!important;
font-family: 'Oswald', sans-serif!important;
font-size: 50px;}

.header {background-image: url('https://scontent-a-lhr.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1512356_10152123512527958_349060317_n.jpg?oh=d7ef7c2749f0b98cc990c9b46b64fddc&oe=5515F342');
padding-top: 0px}

h2 {color: white!important;
text-align: left;
font-family: 'Oswald', sans-serif!important;}

img {display: block;
	margin-left: 10px;
	margin-right: 30px;
max-width: 500px;
max-height: 300px;
width: 420px;
height: 300px;
border: gray 10px solid;
position: relative;}

#about_page {text-align: left;
	color: white;
font-family: 'Helvetica';
position: relative;
left: 470px;
bottom: 330px;
right: 800px;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;
padding-bottom: 20px;
border: 1px;
margin-right: 500px;
font-size: 16px;
}